<!DOCTYPE html>
<html>
<head>
	<title>about page </title>
	<!-- Navbar -->
<style>


body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff8fbf;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ffb9d7;
}

.active {
  background-color: #ff73af;
}
</style>
</head>
<body style = "background-color: #bad5ff ">

<ul>
  <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('about') }}">About</a></li>
  <li><a href="{{ url_for('genModd') }}">your moodboard</a></li>
  <li><a href="{{ url_for('tutorials') }}">tutorials</a></li>
  <li><a href="{{ url_for('recent_posts') }}">posts</a></li>
  <li><a href="{{ url_for('post') }}">Post your own</a></li>
</ul>

<!-- Navbar -->

<body>

</body>
</html>