<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<h1> Welcome artists to your inspiration generator website!</h1>
<p> in this sbsite you can find different kinds of inspiration each time you feel like creating new piece of art
	you can also look for turotials in our turtorial page!
	in addition to that you can add your own posts for other people to find!
	to start your journey in this, sign up below! 
	enjoy!</p>
<form action="/" method="POST">
	Username
    <input type="text" name="Username" placeholder = "Username">
    Email
    <input type="text" name="Email" placeholder = "Email">
    Password
    <input type="text" name="Password" placeholder = "Password">
 <input type="submit" value="Submit">
</form>

</body>
</html>